<div class="page-header">
  <h2>Edit Station</h2>
</div>

<form action="/stations/<%= @station.id %>" method="post">
  <%= render('form')%>
</form>

<a href="/stations/<%= @station.id %>/edit" class="btn btn-warning btn-xs">+ Edit</a>

<%= link_to "- Delete", station_path(@station),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"},
                         :class => "btn btn-danger btn-xs" %>
