<div class="page-header">
  <h2>New Stop</h2>
</div>


<%= form_for(@stop) do |f| %>
  <div class="form-group">
    <%= f.collection_select :station_id, Station.all, :id, :name %>
    <%= f.collection_select :line_id, Line.all, :id, :name %>
  </div>
  <%= f.submit(:class => "btn btn-primary btn-xs") %>
<% end %>
